.tab {
    text-align: center;
}

.title {
    margin-right: auto;
}
/* --------------------------- */
h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
  }
  
  h2::before,
  h2::after {
    content: '';
    width: 70px;
    height: 2px;
    background-color:white;
  }
  
  h2::before {
    margin-right: 30px;
  }
  
  h2::after {
    margin-left: 30px;
  }
  /* ------------------------------  */