* {
    margin: 15px;
}

header {
    /* position: fixed; ← fixedで固定 */
    width: 100%; 
    height: auto; 
    background: rgba(255, 255, 255, 0.3); 
    margin: 20;
    align-items: center;
   /* ロゴとメニューを横並びにする */
    display: flex; 
    justify-content:space-between;
}


header .nav .menu li {
    /* padding: 3%; */
    display: inline-block;
    list-style: none; 
}


a{
   color: white;
   font-weight:bold;
   text-decoration: none;
}

.manu {
    text-align:center;
}

.nav h2 {
   color: darkblue;
   text-decoration: none;
   padding-top: 100px;
}

footer {
    background: #CCC; 
    padding:1em;
    margin-top:100px;
}

footer p {
    font-size: .8em;
    color: #fff;
    max-width: 800px;
    padding: 0;
    text-align:center;
    margin:0 auto;
    font-weight:bold;
}
.Contents {
    width: 100%; /* コンテンツの横幅を指定する */
    overflow: auto; /* コンテンツの表示を自動に設定（スクロール） */
}

.body {
    background-image: url("img/main_pic.png"); /*イメージのリンク*/

    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}