header {
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background-color: black;
    color: white;
}

ul { 
    color: white;
    list-style: none;
}
.wrapper {
    margin: 0 auto;
    max-width: 100%;
}

.item a :hover{
    color: skyblue;
}
.item a {
    text-decoration: none;

}
.item {
    display: flex;

}

.Contents {
    width: 100%; /* コンテンツの横幅を指定する */
    overflow: auto; /* コンテンツの表示を自動に設定（スクロール） */
    }
.body {
    background-image: url("img/main_pic.png"); /*イメージのリンク*/
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}